on boot
     # Create PERFD deamon related dirs
     mkdir /data/misc/perfd 0755 root system
     chmod 2755 /data/misc/perfd
     mkdir /data/system/perfd 0770 root system
     chmod 2770 /data/system/perfd

 service mpdecision /system/vendor/bin/mpdecision --avg_comp
     class main
     user root
     disabled
